@font-face {
    font-family: 'Proxima Nova';
    src: url('/path-to-fonts/ProximaNova-Regular.woff2') format('woff2'),
         url('/path-to-fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #F9F7F7;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    margin-left: 30px;
}

.logo img {
    height: 70px;
    transform: scale(1.5);
    transform-origin: left center;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav ul li {
    margin: 0;
}

.nav ul li a {
    text-decoration: none;
    color: #3F72AF;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav ul li a:hover {
    color: #112D4E;
}

.header-buttons {
    display: flex; /* Align items side by side */
    align-items: center;
    gap: 10px; /* Space between the buttons */
    margin-right: 30px;
}

.pipe {
    color: #3F72AF;
    font-size: 20px;
    font-weight: 500;
    margin: 0 10px;
}

/* Updated Button styles */
.signup-btn, .donate-btn {
    text-decoration: none;
    color: #3F72AF;
    font-size: 20px;
    font-weight: 500;
    background: none; /* Remove background */
    border: none;     /* Remove border */
    padding: 0;       /* Remove padding */
    cursor: pointer;  /* Make it clickable */
}

.signup-btn:hover, .donate-btn:hover {
    color: #112D4E; /* Darker text on hover */
}

/* Remove any default browser styles */
.signup-btn, .donate-btn {
    appearance: none; /* Remove default styles */
    -webkit-appearance: none;
    -moz-appearance: none;
}

.signup-btn:focus, .donate-btn:focus {
    outline: none; /* Remove focus outline */
}

/* Dropdown Styles */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f7f7;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #3f72af;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    /* background-color: #c8e2ff; */
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #112d4e;
}

/* Arrow Indicator */
.arrow {
    font-size: 12px;
    margin-left: 5px;
    color: #3F72AF;
    transition: transform 0.3s ease;
}

.dropdown:hover .arrow {
    transform: rotate(180deg);
}
